.flexMain {
  width: 100%;
  height: 100%;
  display: flex;
}
.flexMain .left {
  box-sizing: border-box;
  padding-top: 47px;
}
/* 可以设置不同的进入和离开动画 */
/* 设置持续时间和动画函数 */
.slide-fade-enter-active {
  transition: all 0.5s ease;
}
.slide-fade-leave-active {
  transition: all 0s ease;
}
.slide-fade-enter,
.slide-fade-leave-to {
  transform: translateX(10px);
  opacity: 0;
}
.tabs {
  width: 99%;
  margin: 0 auto;
  background: white;
}
.clic {
  transform: rotate(90deg);
}

