

/* 按钮 */
._btn {
    padding: 10px 46px;
    border-radius: 4px;
    display: block;
    margin: 0 auto;
    text-align: center;
    color: #fff;
    font-family: '微软雅黑';
    font-size: 800;
    border: none;
    cursor: pointer;
    background-color: #03a1ea
}
._small{
    padding: 4px 10px;
    font-size: 14px;
}
._btn:disabled{
    cursor:not-allowed;
    color:#ccc;
    background-color: #f7f7f7;
    border-color: #d9d9d9;
    border:1px solid ;
    
    
}
.ghost{
    border: 1px solid #ccc;
    color: #333;
    background-color: transparent;
}