 /*弹出层样式*/
 .ant-modal-content {
    background-color: #f4f4f4;
    padding: 15px 30px;
}

.ant-modal-content .ant-modal-close {
    top: 15px;
    right: 30px;
}

.ant-modal-content .ant-modal-close-x {
    font-size: 28px;
}

.ant-modal-content .ant-modal-header {
    background: #f4f4f4;
}

.ant-modal-content .ant-modal-title {
    font-size: 18px;
    font-weight: bolder;
}

.ant-modal-content .ant-modal-footer {
    border-top: none;
}
/*弹出层样式*/