#password-strength {
    position: relative;
    top: 5px;
    left: 7px;
    width: 100px;
    height: 30px;
}
#password-strength > li {
    position: absolute;
    display: none;
    width: 120px;
    height: 30px;
}
#password-strength .strength-bar {
    width: 60px;
    height: 10px;
}
#password-strength .strength-bar-bg {
    display: inline-block;
    width: 80px;
    height: 10px;
    background-color: #aaa;
}
#password-strength p {
    text-align: center;
    font-size: 12px;
}
#password-strength .weak.show {
    display:block;
}
#password-strength .medium.show {
    display:block;
}
#password-strength .strong.show {
    display:block;
}
#password-strength .weak-bar {
    width: 20px;
    background-color: #ff4d1d;
}
#password-strength .medium-bar {
    width: 40px;
    background-color: #00aee0;
}
#password-strength .strong-bar {
    width: 80px;
    background-color: #00FF66;
}